
/instance/logs
/.obsidian
/.install_audit
instance.json
/instance/resourcepacks
/instance/saves
/instance/mods
instance/usercache.json
instance/usernamecache.json
instance/config/etf_warnings.json
instance/config/embeddium-fingerprint.json
